h1, h2, h3, h4, h5, h6, a, p {
font-family: 'Source Sans Pro', sans-serif;
}


.mainpage {
    background-image: url("https://static.pexels.com/photos/4138/landscape-mountains-nature-fog.jpeg");

}

.full {
    height: 100%;
}


div.loader { 
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 15;
  background: url(images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-x:hidden;
  overflow-y:hidden;
}

div.loader #logo {
    position: absolute;
    width:300px;
    right: 0;
    left: 0;
    margin: auto;
}

#loading_text {
    right: 0;
    left: 0;
    margin: auto;
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: aliceblue;
    
}

#bluegrad {
    height: 1000px;
    overflow-y: hidden;
    background: #00B8FF; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #00B8FF, #007FFF); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right,  #00B8FF, #007FFF); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right,  #00B8FF, #007FFF); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #00B8FF, #007FFF); /* Standard syntax (must be last) */
}

/* ghost */

.ghost-button-transition {


font-family: 'Source Sans Pro', sans-serif;
    
font-size: 20px;
font-weight: 300;

  display: inline-block;
  padding: 8px;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s ease-out,
              color 0.2s ease-out;
}
.ghost-button-transition:hover,
.ghost-button-transition:active {
  background-color: #fff !important;
  color: #000 !important;
  transition: background-color 0.3s ease-in,
              color 0.3s ease-in;
}

/* adding a hover state*/
li:hover {
    background-color: #072da4;
    transition: 0.7s;
    cursor: pointer;
}
span{
	float: right;
}

.form-control {
    font-family: 'Source Sans Pro', sans-serif;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #fff !important;
    background-color: #0071ef;
    background-image: none;
    border: transparent; 
    border-radius: 4px;
}


input.form-control::-webkit-input-placeholder {
  color: aliceblue;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #0071ef;
    border: transparent;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}