h1, h2, h3, h4, h5, h6, a, p {
font-family: 'Source Sans Pro', sans-serif;
}


.mainpage {
    background-image: url("https://static.pexels.com/photos/4138/landscape-mountains-nature-fog.jpeg");

}

.full {
    height: 100%;
}


div.loader { 
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 15;
  background: url(images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-x:hidden;
  overflow-y:hidden;
}

div.loader #logo {
    position: absolute;
    width:300px;
    right: 0;
    left: 0;
    margin: auto;
}

#loading_text {
    right: 0;
    left: 0;
    margin: auto;
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: aliceblue;
    
}

#bluegrad {
    height: 1000px;
    overflow-y: hidden;
    background: #00B8FF; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #00B8FF, #007FFF); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right,  #00B8FF, #007FFF); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right,  #00B8FF, #007FFF); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #00B8FF, #007FFF); /* Standard syntax (must be last) */
}

/* ghost */

.ghost-button-transition {


font-family: 'Source Sans Pro', sans-serif;
    
font-size: 20px;
font-weight: 300;

  display: inline-block;
  padding: 8px;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s ease-out,
              color 0.2s ease-out;
}
.ghost-button-transition:hover,
.ghost-button-transition:active {
  background-color: #fff !important;
  color: #000 !important;
  transition: background-color 0.3s ease-in,
              color 0.3s ease-in;
}

/* input button*/
 /* label color */
h1, input::-webkit-input-placeholder, button {
  font-family: 'roboto', sans-serif;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

input {
  width: 200px;
  display: block;
  border: none;
  padding: 10px 0;
  border-bottom: solid 1px #ffffff;
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #0071ef 4%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #0071ef 4%);
  background-position: -200px 0;
  background-size: 200px 100%;
  background-repeat: no-repeat;
  font-family: 'Source Sans Pro', sans-serif;
  color: aliceblue;
}
input:focus, input:valid {
  box-shadow: none;
  outline: none;
  background-position: 0 0;
  font-family: 'Source Sans Pro', sans-serif;
}
input:focus::-webkit-input-placeholder, input:valid::-webkit-input-placeholder {
  color: #ffffff;
  font-size: 11px;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  visibility: visible !important;
}


/* adding a hover state*/
li:hover {
	background-color: aliceblue;
	transition: 0.7s;
	cursor: pointer;
}
span{
	float: right;
}